# Eugene Zelenko <greendeath@mail.ru>, 2002-2004.
# Ihar Hrachyshka <ihar.hrachyshka@gmail.com>, 2006.
# Darafei Praliaskouski <komzpa@licei2.com>, 2007.
msgid ""
msgstr ""
"Project-Id-Version: 86ff119b1606fcaa910d6b44fc14b611\n"
"Report-Msgid-Bugs-To: https://bugs.kde.org\n"
"POT-Creation-Date: 2025-11-17 11:58+0000\n"
"PO-Revision-Date: 2022-08-29 04:55\n"
"Last-Translator: Darafei Praliaskouski <komzpa@licei2.com>\n"
"Language-Team: Belarusian\n"
"Language: be@latin\n"
"MIME-Version: 1.0\n"
"Content-Type: text/plain; charset=UTF-8\n"
"Content-Transfer-Encoding: 8bit\n"
"X-Generator: KBabel 1.11.4\n"
"Plural-Forms: nplurals=4; plural=(n%10==1 && n%100!=11 ? 0 : n%10>=2 && n"
"%10<=4 && (n%100<12 || n%100>14) ? 1 : n%10==0 || n%10>=5 && n%10<=9 || n"
"%100>=11 && n%100<=14 ? 2 : 3);\n"
"X-Crowdin-Project: 86ff119b1606fcaa910d6b44fc14b611\n"
"X-Crowdin-Project-ID: 127\n"
"X-Crowdin-Language: be\n"
"X-Crowdin-File: /main/be/kconfigwidgets/l10n._desktop_.po\n"
"X-Crowdin-File-ID: 7799\n"

#: src/entry.desktop:2
#, fuzzy
msgctxt "Name"
msgid "US English"
msgstr "Anhlijskaja (Vialikabrytanija)"

#: src/language_files/af/kf6_entry.desktop:2
msgctxt "Name"
msgid "Afrikaans"
msgstr "Afrykaans"

#: src/language_files/ar/kf6_entry.desktop:2
msgctxt "Name"
msgid "Arabic"
msgstr "Arabskaja"

#: src/language_files/as/kf6_entry.desktop:2
msgctxt "Name"
msgid "Assamese"
msgstr "Asamskaja"

#: src/language_files/ast/kf6_entry.desktop:2
msgctxt "Name"
msgid "Asturian"
msgstr "Asturyjskaja"

#: src/language_files/az/kf6_entry.desktop:2
msgctxt "Name"
msgid "Azerbaijani"
msgstr "Azierbajdžanskaja"

#: src/language_files/be/kf6_entry.desktop:2
msgctxt "Name"
msgid "Belarusian"
msgstr "Bielaruskaja"

#: src/language_files/be@latin/kf6_entry.desktop:2
msgctxt "Name"
msgid "Belarusian Latin"
msgstr "Bielaruskaja (lacinka)"

#: src/language_files/bg/kf6_entry.desktop:2
msgctxt "Name"
msgid "Bulgarian"
msgstr "Balharskaja"

#: src/language_files/bn_IN/kf6_entry.desktop:2
msgctxt "Name"
msgid "Bengali (India)"
msgstr "Bienhaĺskaja (Indyja)"

#: src/language_files/bn/kf6_entry.desktop:2
msgctxt "Name"
msgid "Bengali"
msgstr "Bienhaĺskaja"

#: src/language_files/br/kf6_entry.desktop:2
msgctxt "Name"
msgid "Breton"
msgstr "Bretonskaja"

#: src/language_files/bs/kf6_entry.desktop:2
msgctxt "Name"
msgid "Bosnian"
msgstr "Basnijskaja"

#: src/language_files/ca/kf6_entry.desktop:2
msgctxt "Name"
msgid "Catalan"
msgstr "Katalanskaja"

#: src/language_files/ca@valencia/kf6_entry.desktop:2
msgctxt "Name"
msgid "Catalan (Valencian)"
msgstr "Katalanskaja (Valiensija)"

#: src/language_files/crh/kf6_entry.desktop:2
msgctxt "Name"
msgid "Crimean Tatar"
msgstr "Krymskatatarskaja"

#: src/language_files/csb/kf6_entry.desktop:2
msgctxt "Name"
msgid "Kashubian"
msgstr "Sierbskaja"

#: src/language_files/cs/kf6_entry.desktop:2
msgctxt "Name"
msgid "Czech"
msgstr "Češskaja"

#: src/language_files/cy/kf6_entry.desktop:2
msgctxt "Name"
msgid "Welsh"
msgstr "Valijskaja"

#: src/language_files/da/kf6_entry.desktop:2
msgctxt "Name"
msgid "Danish"
msgstr "Dackaja"

#: src/language_files/de/kf6_entry.desktop:2
msgctxt "Name"
msgid "German"
msgstr "Niamieckaja"

#: src/language_files/el/kf6_entry.desktop:2
msgctxt "Name"
msgid "Greek"
msgstr "Hrečaskaja"

#: src/language_files/en_GB/kf6_entry.desktop:2
msgctxt "Name"
msgid "British English"
msgstr "Anhlijskaja (Vialikabrytanija)"

#: src/language_files/eo/kf6_entry.desktop:2
msgctxt "Name"
msgid "Esperanto"
msgstr "Espieranta"

#: src/language_files/es/kf6_entry.desktop:2
msgctxt "Name"
msgid "Spanish"
msgstr "Ispanskaja"

#: src/language_files/et/kf6_entry.desktop:2
msgctxt "Name"
msgid "Estonian"
msgstr "Estonskaja"

#: src/language_files/eu/kf6_entry.desktop:2
msgctxt "Name"
msgid "Basque"
msgstr "Baskonskaja"

#: src/language_files/fa/kf6_entry.desktop:2
msgctxt "Name"
msgid "Farsi"
msgstr "Farsi"

#: src/language_files/fi/kf6_entry.desktop:2
msgctxt "Name"
msgid "Finnish"
msgstr "Finskaja"

#: src/language_files/fr/kf6_entry.desktop:2
msgctxt "Name"
msgid "French"
msgstr "Francuzskaja"

#: src/language_files/fy/kf6_entry.desktop:2
msgctxt "Name"
msgid "Frisian"
msgstr "Fryzskaja"

#: src/language_files/ga/kf6_entry.desktop:2
msgctxt "Name"
msgid "Irish"
msgstr "Irlandskaja"

#: src/language_files/gd/kf6_entry.desktop:2
msgctxt "Name"
msgid "Scottish Gaelic"
msgstr "Haeĺskaja (Šatlandyja)"

#: src/language_files/gl/kf6_entry.desktop:2
msgctxt "Name"
msgid "Galician"
msgstr "Halisijskaja"

#: src/language_files/gu/kf6_entry.desktop:2
msgctxt "Name"
msgid "Gujarati"
msgstr "Hudžaraci"

#: src/language_files/ha/kf6_entry.desktop:2
msgctxt "Name"
msgid "Hausa"
msgstr "Chaŭsa"

#: src/language_files/he/kf6_entry.desktop:2
msgctxt "Name"
msgid "Hebrew"
msgstr "Iŭryt"

#: src/language_files/hi/kf6_entry.desktop:2
msgctxt "Name"
msgid "Hindi"
msgstr "Chindzi"

#: src/language_files/hne/kf6_entry.desktop:2
msgctxt "Name"
msgid "Chhattisgarhi"
msgstr "Čchattysharchy"

#: src/language_files/hr/kf6_entry.desktop:2
msgctxt "Name"
msgid "Croatian"
msgstr "Charvackaja"

#: src/language_files/hsb/kf6_entry.desktop:2
msgctxt "Name"
msgid "Upper Sorbian"
msgstr "Vierchnialužyckaja"

#: src/language_files/hu/kf6_entry.desktop:2
msgctxt "Name"
msgid "Hungarian"
msgstr "Vienhierskaja"

#: src/language_files/hy/kf6_entry.desktop:2
msgctxt "Name"
msgid "Armenian"
msgstr "Armianskaja"

#: src/language_files/ia/kf6_entry.desktop:2
msgctxt "Name"
msgid "Interlingua"
msgstr "Interlinhva"

#: src/language_files/id/kf6_entry.desktop:2
msgctxt "Name"
msgid "Indonesian"
msgstr "Indaniezijskaja"

#: src/language_files/ie/kf6_entry.desktop:2
#, fuzzy
msgctxt "Name"
msgid "Interlingue"
msgstr "Interlinhva"

#: src/language_files/is/kf6_entry.desktop:2
msgctxt "Name"
msgid "Icelandic"
msgstr "Islandskaja"

#: src/language_files/it/kf6_entry.desktop:2
msgctxt "Name"
msgid "Italian"
msgstr "Itaĺjanskaja"

#: src/language_files/ja/kf6_entry.desktop:2
msgctxt "Name"
msgid "Japanese"
msgstr "Japonskaja"

#: src/language_files/ka/kf6_entry.desktop:2
msgctxt "Name"
msgid "Georgian"
msgstr "Hruzinskaja"

#: src/language_files/kk/kf6_entry.desktop:2
msgctxt "Name"
msgid "Kazakh"
msgstr "Kazachskaja"

#: src/language_files/km/kf6_entry.desktop:2
msgctxt "Name"
msgid "Khmer"
msgstr "Kchmierskaja"

#: src/language_files/kn/kf6_entry.desktop:2
msgctxt "Name"
msgid "Kannada"
msgstr "Kanada"

#: src/language_files/ko/kf6_entry.desktop:2
msgctxt "Name"
msgid "Korean"
msgstr "Karejskaja"

#: src/language_files/ku/kf6_entry.desktop:2
msgctxt "Name"
msgid "Kurdish"
msgstr "Kurdskaja"

#: src/language_files/lb/kf6_entry.desktop:2
msgctxt "Name"
msgid "Luxembourgish"
msgstr "Liuksiemburhskaja"

#: src/language_files/lt/kf6_entry.desktop:2
msgctxt "Name"
msgid "Lithuanian"
msgstr "Lietuviskaja"

#: src/language_files/lv/kf6_entry.desktop:2
msgctxt "Name"
msgid "Latvian"
msgstr "Latyšskaja"

#: src/language_files/mai/kf6_entry.desktop:2
msgctxt "Name"
msgid "Maithili"
msgstr "Majtchili"

#: src/language_files/mk/kf6_entry.desktop:2
msgctxt "Name"
msgid "Macedonian"
msgstr "Makiedonskaja"

#: src/language_files/ml/kf6_entry.desktop:2
msgctxt "Name"
msgid "Malayalam"
msgstr "Malajalam"

#: src/language_files/mr/kf6_entry.desktop:2
msgctxt "Name"
msgid "Marathi"
msgstr "Maratchi"

#: src/language_files/ms/kf6_entry.desktop:2
msgctxt "Name"
msgid "Malay"
msgstr "Malajskaja"

#: src/language_files/my/kf6_entry.desktop:2
msgctxt "Name"
msgid "Burmese"
msgstr "Birmanskaja"

#: src/language_files/nb/kf6_entry.desktop:2
msgctxt "Name"
msgid "Norwegian Bokmål"
msgstr "Narviežskaja (Bukmal)"

#: src/language_files/nds/kf6_entry.desktop:2
msgctxt "Name"
msgid "Low Saxon"
msgstr "Nižniasaksonskaja"

#: src/language_files/ne/kf6_entry.desktop:2
msgctxt "Name"
msgid "Nepali"
msgstr "Niepaĺskaja"

#: src/language_files/nl/kf6_entry.desktop:2
msgctxt "Name"
msgid "Dutch"
msgstr "Halandskaja"

#: src/language_files/nn/kf6_entry.desktop:2
msgctxt "Name"
msgid "Norwegian Nynorsk"
msgstr "Narviežskaja (niunorsk)"

#: src/language_files/oc/kf6_entry.desktop:2
msgctxt "Name"
msgid "Occitan"
msgstr "Aksitanskaja"

#: src/language_files/or/kf6_entry.desktop:2
msgctxt "Name"
msgid "Oriya"
msgstr "Oryja"

#: src/language_files/pa/kf6_entry.desktop:2
msgctxt "Name"
msgid "Punjabi"
msgstr "Pandžabi"

#: src/language_files/pl/kf6_entry.desktop:2
msgctxt "Name"
msgid "Polish"
msgstr "Poĺskaja"

#: src/language_files/ps/kf6_entry.desktop:2
msgctxt "Name"
msgid "Pashto"
msgstr "Puštu"

#: src/language_files/pt_BR/kf6_entry.desktop:2
msgctxt "Name"
msgid "Brazil portuguese"
msgstr "Partuhaĺskaja (Brazilija)"

#: src/language_files/pt/kf6_entry.desktop:2
msgctxt "Name"
msgid "Portuguese"
msgstr "Partuhaĺskaja"

#: src/language_files/ro/kf6_entry.desktop:2
msgctxt "Name"
msgid "Romanian"
msgstr "Rumynskaja"

#: src/language_files/ru/kf6_entry.desktop:2
msgctxt "Name"
msgid "Russian"
msgstr "Rasijskaja"

#: src/language_files/se/kf6_entry.desktop:2
msgctxt "Name"
msgid "Northern Sami"
msgstr "Paŭnočnaja sami"

#: src/language_files/si/kf6_entry.desktop:2
msgctxt "Name"
msgid "Sinhala"
msgstr "Sinhaĺskaja"

#: src/language_files/sk/kf6_entry.desktop:2
msgctxt "Name"
msgid "Slovak"
msgstr "Slavackaja"

#: src/language_files/sl/kf6_entry.desktop:2
msgctxt "Name"
msgid "Slovenian"
msgstr "Slavienskaja"

#: src/language_files/sq/kf6_entry.desktop:2
msgctxt "Name"
msgid "Albanian"
msgstr "Albanskaja"

#: src/language_files/sr@ijekavian/kf6_entry.desktop:2
msgctxt "Name"
msgid "Serbian Ijekavian"
msgstr "Sierbskaja (jekaŭski dyjaliekt)"

#: src/language_files/sr@ijekavianlatin/kf6_entry.desktop:2
msgctxt "Name"
msgid "Serbian Ijekavian Latin"
msgstr "Sierbskaja (jekaŭski dyjaliekt, lacinka)"

#: src/language_files/sr/kf6_entry.desktop:2
msgctxt "Name"
msgid "Serbian"
msgstr "Sierbskaja"

#: src/language_files/sr@latin/kf6_entry.desktop:2
msgctxt "Name"
msgid "Serbian Latin"
msgstr "Sierbskaja (lacinka)"

#: src/language_files/sv/kf6_entry.desktop:2
msgctxt "Name"
msgid "Swedish"
msgstr "Šviedskaja"

#: src/language_files/ta/kf6_entry.desktop:2
msgctxt "Name"
msgid "Tamil"
msgstr "Tamiĺskaja"

#: src/language_files/te/kf6_entry.desktop:2
msgctxt "Name"
msgid "Telugu"
msgstr "Teluhu"

#: src/language_files/tg/kf6_entry.desktop:2
msgctxt "Name"
msgid "Tajik"
msgstr "Tadžykskaja"

#: src/language_files/th/kf6_entry.desktop:2
msgctxt "Name"
msgid "Thai"
msgstr "Tajskaja"

#: src/language_files/tok/kf6_entry.desktop:2
msgctxt "Name"
msgid "Toki Pona"
msgstr "Takipona"

#: src/language_files/tr/kf6_entry.desktop:2
msgctxt "Name"
msgid "Turkish"
msgstr "Tureckaja"

#: src/language_files/tt/kf6_entry.desktop:2
msgctxt "Name"
msgid "Tatar"
msgstr "Tatarskaja"

#: src/language_files/ug/kf6_entry.desktop:2
msgctxt "Name"
msgid "Uyghur"
msgstr "Ujhurskaja"

#: src/language_files/uk/kf6_entry.desktop:2
msgctxt "Name"
msgid "Ukrainian"
msgstr "Ukrainskaja"

#: src/language_files/uz@cyrillic/kf6_entry.desktop:2
msgctxt "Name"
msgid "Uzbek (Cyrillic)"
msgstr "Uzbiekskaja (kirylica)"

#: src/language_files/uz/kf6_entry.desktop:2
msgctxt "Name"
msgid "Uzbek"
msgstr "Uzbiekskaja"

#: src/language_files/vi/kf6_entry.desktop:2
msgctxt "Name"
msgid "Vietnamese"
msgstr "Vjetnamskaja"

#: src/language_files/wa/kf6_entry.desktop:2
msgctxt "Name"
msgid "Walloon"
msgstr "Valonskaja"

#: src/language_files/xh/kf6_entry.desktop:2
msgctxt "Name"
msgid "Xhosa"
msgstr "Kosa"

#: src/language_files/zh_CN/kf6_entry.desktop:2
msgctxt "Name"
msgid "Simplified Chinese"
msgstr "Kitajskaja sproščanaja"

#: src/language_files/zh_HK/kf6_entry.desktop:2
msgctxt "Name"
msgid "Chinese (Hong Kong)"
msgstr "Kitajskaja (Honh-Konh)"

#: src/language_files/zh_TW/kf6_entry.desktop:2
msgctxt "Name"
msgid "Traditional Chinese"
msgstr "Kitajskaja tradycyjnaja"

#~ msgctxt "Name"
#~ msgid "KDE Test Language"
#~ msgstr "Srodak praviarannia movy KDE"

#~ msgctxt "Name"
#~ msgid "KOffice"
#~ msgstr "KOffice"

#~ msgctxt "Name"
#~ msgid "Chinese"
#~ msgstr "Kitajskaja"

#~ msgid "Name=Kirghiz"
#~ msgstr "Name=Kirhizskaja"

#~ msgid "Name=Lao"
#~ msgstr "Name=Laoskaja"

#~ msgid "Name=Maori"
#~ msgstr "Name=Maory"

#~ msgid "Name=Mongolian"
#~ msgstr "Name=Manhoĺskaja"

#~ msgid "Name=Maltese"
#~ msgstr "Name=Maĺtyjskaja"

#~ msgid "Name=Northern Sotho"
#~ msgstr "Name=Sota (poŭnač)"

#~ msgid "Name=Kinyarwanda"
#~ msgstr "Name=Kińjarvanda"

#~ msgid "Name=Swati"
#~ msgstr "Name=Svaci"

#~ msgid "Name=Thai"
#~ msgstr "Name=Tajskaja"

#~ msgid "Name=Venda"
#~ msgstr "Name=Vienda"

#~ msgid "Name=Zulu"
#~ msgstr "Name=Zuluskaja"
