<KrossScripting>
  <collection comment="Tools" name="tools" text="Tools" >
    <script icon="text-x-python" comment="Зібрати переклад і зберегти його локально" name="msgfmt2" file="msgfmt2.py" interpreter="python" text="Зібрати переклад локально" />
  </collection>
</KrossScripting>
