<KrossScripting>
  <collection comment="Інструменти" text="Інструменти" name="tools">
    <script comment="Клацання середньою кнопкою миші на віджеті у будь-якій з програм накаже програмі виконати пошук у пам’яті перекладів у всіх відкритих вікнах Lokalize." text="Захоплення тексту віджетів" interpreter="python" enabled="false" name="widget-text-capture" icon="text-x-python"/>
    <script comment="Зібрати переклади po і зберегти їх до ~/.kde" text="Встановити переклад локально" interpreter="python" enabled="false" name="msgfmt" file="msgfmt.py" icon="text-x-python"/>
    <script text="Перевірка синтаксису під час кожного збереження файла (GUI)" interpreter="qtscript" name="check-gui" file="check-gui.js" icon="application-javascript">
      <property name="autorun">true</property>
    </script>
    <script comment="Open source file" text="Відкрити файл вихідних кодів" interpreter="python" enabled="false" name="opensrc" icon="text-x-python">
      <property name="autorun">true</property>
    </script>
    <script comment="Створює перекладену версію документа ODF" text="Об’єднати у ODF" interpreter="python" enabled="false" name="xliff2odf" icon="text-x-python"/>
    <script comment="Зібрати переклад і зберегти його локально" text="Зібрати переклад локально" interpreter="python" enabled="false" name="msgfmt2" file="msgfmt2.py" icon="text-x-python"/>
  </collection>
</KrossScripting>
