<KrossScripting>
  <collection comment="Tools" name="tools" text="Tools" >
    <script icon="text-x-python" comment="Сборка файлов .po для тестирования" name="msgfmt" file="msgfmt.py" interpreter="python" text="Локальная сборка файлов .po" />
  </collection>
</KrossScripting>
