<KrossScripting>
  <collection name="tools" text="Сервис" comment="Сервис">
    <script name="msgfmt" text="Локальная сборка файлов .po" interpreter="python" file="msgfmt.py" comment="Сборка файлов .po для тестирования" icon="text-x-python"/>
    <script name="xliff2odf" text="Сгенерировать ODF" interpreter="python" comment="Генерирует переведённую версию документа ODF" icon="text-x-python"/>
  </collection>
  <collection name="file" text="Файл" comment="Файл">
    <script name="msgmerge" text="Обновить файл из шаблона" interpreter="python" icon="text-x-python"/>
  </collection>
</KrossScripting>
