# translation of l10n._desktop_.pot to Esperanto
# Copyright (C) 2003 Free Software Foundation, Inc.
# Heiko Evermann <heiko@evermann.de>, 2003, 2005.
# Matthias Peick <matthias@peick.de>, 2004.
# Cindy McKee <cfmckee@gmail.com>, 2007.
# Axel Rousseau <axel@esperanto-jeunes.org>, 2010.
# Michael Moroni <michael.moroni@mailoo.org>, 2012.
# Oliver Kellogg <olivermkellogg@gmail.com>, 2023.
#
msgid ""
msgstr ""
"Project-Id-Version: desktop_l10n\n"
"Report-Msgid-Bugs-To: https://bugs.kde.org\n"
"POT-Creation-Date: 2025-11-17 11:58+0000\n"
"PO-Revision-Date: 2023-09-27 21:36+0100\n"
"Last-Translator: Oliver Kellogg <olivermkellogg@gmail.com>\n"
"Language-Team: Esperanto <kde-i18n-eo@kde.org>\n"
"Language: eo\n"
"MIME-Version: 1.0\n"
"Content-Type: text/plain; charset=UTF-8\n"
"Content-Transfer-Encoding: 8bit\n"
"X-Generator: Lokalize 1.4\n"
"Plural-Forms: nplurals=2; plural=n != 1;\n"

#: src/entry.desktop:2
#, fuzzy
msgctxt "Name"
msgid "US English"
msgstr "Brita angla"

#: src/language_files/af/kf6_entry.desktop:2
msgctxt "Name"
msgid "Afrikaans"
msgstr "Afrikansa"

#: src/language_files/ar/kf6_entry.desktop:2
msgctxt "Name"
msgid "Arabic"
msgstr "Araba"

#: src/language_files/as/kf6_entry.desktop:2
msgctxt "Name"
msgid "Assamese"
msgstr "Asama"

#: src/language_files/ast/kf6_entry.desktop:2
msgctxt "Name"
msgid "Asturian"
msgstr "Asturia"

#: src/language_files/az/kf6_entry.desktop:2
msgctxt "Name"
msgid "Azerbaijani"
msgstr "Azerbajĝana"

#: src/language_files/be/kf6_entry.desktop:2
msgctxt "Name"
msgid "Belarusian"
msgstr "Belorusa"

#: src/language_files/be@latin/kf6_entry.desktop:2
msgctxt "Name"
msgid "Belarusian Latin"
msgstr "Latina belorusa"

#: src/language_files/bg/kf6_entry.desktop:2
msgctxt "Name"
msgid "Bulgarian"
msgstr "Bulgara"

#: src/language_files/bn_IN/kf6_entry.desktop:2
msgctxt "Name"
msgid "Bengali (India)"
msgstr "Bengala (Hinda)"

#: src/language_files/bn/kf6_entry.desktop:2
msgctxt "Name"
msgid "Bengali"
msgstr "Bengala"

#: src/language_files/br/kf6_entry.desktop:2
msgctxt "Name"
msgid "Breton"
msgstr "Bretona"

#: src/language_files/bs/kf6_entry.desktop:2
msgctxt "Name"
msgid "Bosnian"
msgstr "Bosnia"

#: src/language_files/ca/kf6_entry.desktop:2
msgctxt "Name"
msgid "Catalan"
msgstr "Kataluna"

#: src/language_files/ca@valencia/kf6_entry.desktop:2
msgctxt "Name"
msgid "Catalan (Valencian)"
msgstr "Kataluna (Valencio)"

#: src/language_files/crh/kf6_entry.desktop:2
msgctxt "Name"
msgid "Crimean Tatar"
msgstr "Krima tatara"

#: src/language_files/csb/kf6_entry.desktop:2
msgctxt "Name"
msgid "Kashubian"
msgstr "Kaŝuba"

#: src/language_files/cs/kf6_entry.desktop:2
msgctxt "Name"
msgid "Czech"
msgstr "Ĉeĥa"

#: src/language_files/cy/kf6_entry.desktop:2
msgctxt "Name"
msgid "Welsh"
msgstr "Kimra"

#: src/language_files/da/kf6_entry.desktop:2
msgctxt "Name"
msgid "Danish"
msgstr "Dana"

#: src/language_files/de/kf6_entry.desktop:2
msgctxt "Name"
msgid "German"
msgstr "Germana"

#: src/language_files/el/kf6_entry.desktop:2
msgctxt "Name"
msgid "Greek"
msgstr "Greka"

#: src/language_files/en_GB/kf6_entry.desktop:2
msgctxt "Name"
msgid "British English"
msgstr "Brita angla"

#: src/language_files/eo/kf6_entry.desktop:2
msgctxt "Name"
msgid "Esperanto"
msgstr "Esperanto"

#: src/language_files/es/kf6_entry.desktop:2
msgctxt "Name"
msgid "Spanish"
msgstr "Hispana"

#: src/language_files/et/kf6_entry.desktop:2
msgctxt "Name"
msgid "Estonian"
msgstr "Estona"

#: src/language_files/eu/kf6_entry.desktop:2
msgctxt "Name"
msgid "Basque"
msgstr "Eŭska"

#: src/language_files/fa/kf6_entry.desktop:2
msgctxt "Name"
msgid "Farsi"
msgstr "Persa"

#: src/language_files/fi/kf6_entry.desktop:2
msgctxt "Name"
msgid "Finnish"
msgstr "Finna"

#: src/language_files/fr/kf6_entry.desktop:2
msgctxt "Name"
msgid "French"
msgstr "Franca"

#: src/language_files/fy/kf6_entry.desktop:2
msgctxt "Name"
msgid "Frisian"
msgstr "Frisa"

#: src/language_files/ga/kf6_entry.desktop:2
msgctxt "Name"
msgid "Irish"
msgstr "Irlanda"

#: src/language_files/gd/kf6_entry.desktop:2
msgctxt "Name"
msgid "Scottish Gaelic"
msgstr "Skotgaela"

#: src/language_files/gl/kf6_entry.desktop:2
msgctxt "Name"
msgid "Galician"
msgstr "Galega"

#: src/language_files/gu/kf6_entry.desktop:2
msgctxt "Name"
msgid "Gujarati"
msgstr "Guĝarata"

#: src/language_files/ha/kf6_entry.desktop:2
msgctxt "Name"
msgid "Hausa"
msgstr "Haŭsa"

#: src/language_files/he/kf6_entry.desktop:2
msgctxt "Name"
msgid "Hebrew"
msgstr "Hebrea"

#: src/language_files/hi/kf6_entry.desktop:2
msgctxt "Name"
msgid "Hindi"
msgstr "Hinda"

#: src/language_files/hne/kf6_entry.desktop:2
msgctxt "Name"
msgid "Chhattisgarhi"
msgstr "Ĉhatisgara"

#: src/language_files/hr/kf6_entry.desktop:2
msgctxt "Name"
msgid "Croatian"
msgstr "Kroata"

#: src/language_files/hsb/kf6_entry.desktop:2
msgctxt "Name"
msgid "Upper Sorbian"
msgstr "Alta soraba"

#: src/language_files/hu/kf6_entry.desktop:2
msgctxt "Name"
msgid "Hungarian"
msgstr "Hungara"

#: src/language_files/hy/kf6_entry.desktop:2
msgctxt "Name"
msgid "Armenian"
msgstr "Armena"

#: src/language_files/ia/kf6_entry.desktop:2
msgctxt "Name"
msgid "Interlingua"
msgstr "Interlingvao"

#: src/language_files/id/kf6_entry.desktop:2
msgctxt "Name"
msgid "Indonesian"
msgstr "Indonezia"

#: src/language_files/ie/kf6_entry.desktop:2
msgctxt "Name"
msgid "Interlingue"
msgstr "Interlingue"

#: src/language_files/is/kf6_entry.desktop:2
msgctxt "Name"
msgid "Icelandic"
msgstr "Islanda"

#: src/language_files/it/kf6_entry.desktop:2
msgctxt "Name"
msgid "Italian"
msgstr "Itala"

#: src/language_files/ja/kf6_entry.desktop:2
msgctxt "Name"
msgid "Japanese"
msgstr "Japana"

#: src/language_files/ka/kf6_entry.desktop:2
msgctxt "Name"
msgid "Georgian"
msgstr "Kartvela"

#: src/language_files/kk/kf6_entry.desktop:2
msgctxt "Name"
msgid "Kazakh"
msgstr "Kazaĥa"

#: src/language_files/km/kf6_entry.desktop:2
msgctxt "Name"
msgid "Khmer"
msgstr "Kmera"

#: src/language_files/kn/kf6_entry.desktop:2
msgctxt "Name"
msgid "Kannada"
msgstr "Kanara"

#: src/language_files/ko/kf6_entry.desktop:2
msgctxt "Name"
msgid "Korean"
msgstr "Korea"

#: src/language_files/ku/kf6_entry.desktop:2
msgctxt "Name"
msgid "Kurdish"
msgstr "Kurda"

#: src/language_files/lb/kf6_entry.desktop:2
msgctxt "Name"
msgid "Luxembourgish"
msgstr "Luksemburga"

#: src/language_files/lt/kf6_entry.desktop:2
msgctxt "Name"
msgid "Lithuanian"
msgstr "Litova"

#: src/language_files/lv/kf6_entry.desktop:2
msgctxt "Name"
msgid "Latvian"
msgstr "Latvia"

#: src/language_files/mai/kf6_entry.desktop:2
msgctxt "Name"
msgid "Maithili"
msgstr "Maitila"

#: src/language_files/mk/kf6_entry.desktop:2
msgctxt "Name"
msgid "Macedonian"
msgstr "Makedona"

#: src/language_files/ml/kf6_entry.desktop:2
msgctxt "Name"
msgid "Malayalam"
msgstr "Malajala"

#: src/language_files/mr/kf6_entry.desktop:2
msgctxt "Name"
msgid "Marathi"
msgstr "Marata"

#: src/language_files/ms/kf6_entry.desktop:2
msgctxt "Name"
msgid "Malay"
msgstr "Malaja"

#: src/language_files/my/kf6_entry.desktop:2
msgctxt "Name"
msgid "Burmese"
msgstr "Birma"

#: src/language_files/nb/kf6_entry.desktop:2
msgctxt "Name"
msgid "Norwegian Bokmål"
msgstr "Norvega (Bokmål)"

#: src/language_files/nds/kf6_entry.desktop:2
msgctxt "Name"
msgid "Low Saxon"
msgstr "Malalta saksa"

#: src/language_files/ne/kf6_entry.desktop:2
msgctxt "Name"
msgid "Nepali"
msgstr "Nepala"

#: src/language_files/nl/kf6_entry.desktop:2
msgctxt "Name"
msgid "Dutch"
msgstr "Nederlanda"

#: src/language_files/nn/kf6_entry.desktop:2
msgctxt "Name"
msgid "Norwegian Nynorsk"
msgstr "Norvega (Nynorsk)"

#: src/language_files/oc/kf6_entry.desktop:2
msgctxt "Name"
msgid "Occitan"
msgstr "Okcitana"

#: src/language_files/or/kf6_entry.desktop:2
msgctxt "Name"
msgid "Oriya"
msgstr "Orijo"

#: src/language_files/pa/kf6_entry.desktop:2
msgctxt "Name"
msgid "Punjabi"
msgstr "Panĝaba"

#: src/language_files/pl/kf6_entry.desktop:2
msgctxt "Name"
msgid "Polish"
msgstr "Pola"

#: src/language_files/ps/kf6_entry.desktop:2
msgctxt "Name"
msgid "Pashto"
msgstr "Pashto"

#: src/language_files/pt_BR/kf6_entry.desktop:2
msgctxt "Name"
msgid "Brazil portuguese"
msgstr "Brazila portugala"

#: src/language_files/pt/kf6_entry.desktop:2
msgctxt "Name"
msgid "Portuguese"
msgstr "Portugala"

#: src/language_files/ro/kf6_entry.desktop:2
msgctxt "Name"
msgid "Romanian"
msgstr "Rumana"

#: src/language_files/ru/kf6_entry.desktop:2
msgctxt "Name"
msgid "Russian"
msgstr "Rusa"

#: src/language_files/se/kf6_entry.desktop:2
msgctxt "Name"
msgid "Northern Sami"
msgstr "Norda samea"

#: src/language_files/si/kf6_entry.desktop:2
msgctxt "Name"
msgid "Sinhala"
msgstr "Sinhala"

#: src/language_files/sk/kf6_entry.desktop:2
msgctxt "Name"
msgid "Slovak"
msgstr "Slovaka"

#: src/language_files/sl/kf6_entry.desktop:2
msgctxt "Name"
msgid "Slovenian"
msgstr "Slovena"

#: src/language_files/sq/kf6_entry.desktop:2
msgctxt "Name"
msgid "Albanian"
msgstr "Albana"

#: src/language_files/sr@ijekavian/kf6_entry.desktop:2
msgctxt "Name"
msgid "Serbian Ijekavian"
msgstr "Ijekava serba"

#: src/language_files/sr@ijekavianlatin/kf6_entry.desktop:2
msgctxt "Name"
msgid "Serbian Ijekavian Latin"
msgstr "Latina ijekava serba"

#: src/language_files/sr/kf6_entry.desktop:2
msgctxt "Name"
msgid "Serbian"
msgstr "Serba"

#: src/language_files/sr@latin/kf6_entry.desktop:2
msgctxt "Name"
msgid "Serbian Latin"
msgstr "Latina serba"

#: src/language_files/sv/kf6_entry.desktop:2
msgctxt "Name"
msgid "Swedish"
msgstr "Sveda"

#: src/language_files/ta/kf6_entry.desktop:2
msgctxt "Name"
msgid "Tamil"
msgstr "Tamila"

#: src/language_files/te/kf6_entry.desktop:2
msgctxt "Name"
msgid "Telugu"
msgstr "Teluga"

#: src/language_files/tg/kf6_entry.desktop:2
msgctxt "Name"
msgid "Tajik"
msgstr "Taĝika"

#: src/language_files/th/kf6_entry.desktop:2
msgctxt "Name"
msgid "Thai"
msgstr "Taja"

#: src/language_files/tok/kf6_entry.desktop:2
msgctxt "Name"
msgid "Toki Pona"
msgstr "Toki Pona"

#: src/language_files/tr/kf6_entry.desktop:2
msgctxt "Name"
msgid "Turkish"
msgstr "Turka"

#: src/language_files/tt/kf6_entry.desktop:2
msgctxt "Name"
msgid "Tatar"
msgstr "Tatara"

#: src/language_files/ug/kf6_entry.desktop:2
msgctxt "Name"
msgid "Uyghur"
msgstr "Ujgura"

#: src/language_files/uk/kf6_entry.desktop:2
msgctxt "Name"
msgid "Ukrainian"
msgstr "Ukraina"

#: src/language_files/uz@cyrillic/kf6_entry.desktop:2
msgctxt "Name"
msgid "Uzbek (Cyrillic)"
msgstr "Uzbeka (cirila)"

#: src/language_files/uz/kf6_entry.desktop:2
msgctxt "Name"
msgid "Uzbek"
msgstr "Uzbeka"

#: src/language_files/vi/kf6_entry.desktop:2
msgctxt "Name"
msgid "Vietnamese"
msgstr "Vjetnama"

#: src/language_files/wa/kf6_entry.desktop:2
msgctxt "Name"
msgid "Walloon"
msgstr "Valona"

#: src/language_files/xh/kf6_entry.desktop:2
msgctxt "Name"
msgid "Xhosa"
msgstr "Kosa"

#: src/language_files/zh_CN/kf6_entry.desktop:2
msgctxt "Name"
msgid "Simplified Chinese"
msgstr "Simpligita ĉina"

#: src/language_files/zh_HK/kf6_entry.desktop:2
msgctxt "Name"
msgid "Chinese (Hong Kong)"
msgstr "Ĉina (Honkongo)"

#: src/language_files/zh_TW/kf6_entry.desktop:2
msgctxt "Name"
msgid "Traditional Chinese"
msgstr "Tradicia ĉina"

#~ msgctxt "Name"
#~ msgid "KDE Test Language"
#~ msgstr "Testa lingvo de KDE"
