# translation of desktop_l10n.po to Gujarati
# Kartik Mistry <kartik.mistry@gmail.com>, 2008.
msgid ""
msgstr ""
"Project-Id-Version: desktop_l10n\n"
"Report-Msgid-Bugs-To: https://bugs.kde.org\n"
"POT-Creation-Date: 2025-11-17 11:58+0000\n"
"PO-Revision-Date: 2009-05-13 15:35+0530\n"
"Last-Translator: Kartik Mistry <kartik.mistry@gmail.com>\n"
"Language-Team: Gujarati <team@utkarsh.org>\n"
"Language: gu\n"
"MIME-Version: 1.0\n"
"Content-Type: text/plain; charset=UTF-8\n"
"Content-Transfer-Encoding: 8bit\n"
"X-Generator: KBabel 1.11.4\n"
"Plural-Forms: nplurals=2; plural=(n!=1);\n"

#: src/entry.desktop:2
#, fuzzy
msgctxt "Name"
msgid "US English"
msgstr "બ્રિટિશ અંગ્રેજી"

#: src/language_files/af/kf6_entry.desktop:2
msgctxt "Name"
msgid "Afrikaans"
msgstr "આફ્રિકાન્સ"

#: src/language_files/ar/kf6_entry.desktop:2
msgctxt "Name"
msgid "Arabic"
msgstr "અરેબીક"

#: src/language_files/as/kf6_entry.desktop:2
msgctxt "Name"
msgid "Assamese"
msgstr "આસામીઝ"

#: src/language_files/ast/kf6_entry.desktop:2
msgctxt "Name"
msgid "Asturian"
msgstr "એસ્ટોરિયન"

#: src/language_files/az/kf6_entry.desktop:2
msgctxt "Name"
msgid "Azerbaijani"
msgstr ""

#: src/language_files/be/kf6_entry.desktop:2
msgctxt "Name"
msgid "Belarusian"
msgstr "બેલારશિયન"

#: src/language_files/be@latin/kf6_entry.desktop:2
msgctxt "Name"
msgid "Belarusian Latin"
msgstr "બેલારશિયન લેટિન"

#: src/language_files/bg/kf6_entry.desktop:2
msgctxt "Name"
msgid "Bulgarian"
msgstr "બલ્ગેરીયન"

#: src/language_files/bn_IN/kf6_entry.desktop:2
msgctxt "Name"
msgid "Bengali (India)"
msgstr "બંગાળી (ભારત)"

#: src/language_files/bn/kf6_entry.desktop:2
msgctxt "Name"
msgid "Bengali"
msgstr "બંગાળી"

#: src/language_files/br/kf6_entry.desktop:2
msgctxt "Name"
msgid "Breton"
msgstr "બ્રેટોન"

#: src/language_files/bs/kf6_entry.desktop:2
msgctxt "Name"
msgid "Bosnian"
msgstr "બોસ્નિઅન"

#: src/language_files/ca/kf6_entry.desktop:2
msgctxt "Name"
msgid "Catalan"
msgstr "કેટેલાન"

#: src/language_files/ca@valencia/kf6_entry.desktop:2
msgctxt "Name"
msgid "Catalan (Valencian)"
msgstr "કેટેલાન (વેલેન્સિઅન)"

#: src/language_files/crh/kf6_entry.desktop:2
msgctxt "Name"
msgid "Crimean Tatar"
msgstr "ક્રિમીઅન તાતાર"

#: src/language_files/csb/kf6_entry.desktop:2
msgctxt "Name"
msgid "Kashubian"
msgstr "કાશુબિયન"

#: src/language_files/cs/kf6_entry.desktop:2
msgctxt "Name"
msgid "Czech"
msgstr "ચેક"

#: src/language_files/cy/kf6_entry.desktop:2
msgctxt "Name"
msgid "Welsh"
msgstr "વેલ્સ"

#: src/language_files/da/kf6_entry.desktop:2
msgctxt "Name"
msgid "Danish"
msgstr "ડેનિશ"

#: src/language_files/de/kf6_entry.desktop:2
msgctxt "Name"
msgid "German"
msgstr "જર્મન"

#: src/language_files/el/kf6_entry.desktop:2
msgctxt "Name"
msgid "Greek"
msgstr "ગ્રીક"

#: src/language_files/en_GB/kf6_entry.desktop:2
msgctxt "Name"
msgid "British English"
msgstr "બ્રિટિશ અંગ્રેજી"

#: src/language_files/eo/kf6_entry.desktop:2
msgctxt "Name"
msgid "Esperanto"
msgstr "એસ્પ્રાન્ટો"

#: src/language_files/es/kf6_entry.desktop:2
msgctxt "Name"
msgid "Spanish"
msgstr "સ્પેનીશ"

#: src/language_files/et/kf6_entry.desktop:2
msgctxt "Name"
msgid "Estonian"
msgstr "એસ્ટોનિયન"

#: src/language_files/eu/kf6_entry.desktop:2
msgctxt "Name"
msgid "Basque"
msgstr "બાસ્ક"

#: src/language_files/fa/kf6_entry.desktop:2
msgctxt "Name"
msgid "Farsi"
msgstr "ફારસી"

#: src/language_files/fi/kf6_entry.desktop:2
msgctxt "Name"
msgid "Finnish"
msgstr "ફિનિશ"

#: src/language_files/fr/kf6_entry.desktop:2
msgctxt "Name"
msgid "French"
msgstr "ફ્રેંચ"

#: src/language_files/fy/kf6_entry.desktop:2
msgctxt "Name"
msgid "Frisian"
msgstr "ફ્રિસિયન"

#: src/language_files/ga/kf6_entry.desktop:2
msgctxt "Name"
msgid "Irish"
msgstr "આઈરીશ"

#: src/language_files/gd/kf6_entry.desktop:2
msgctxt "Name"
msgid "Scottish Gaelic"
msgstr ""

#: src/language_files/gl/kf6_entry.desktop:2
msgctxt "Name"
msgid "Galician"
msgstr "ગેલિસીયન"

#: src/language_files/gu/kf6_entry.desktop:2
msgctxt "Name"
msgid "Gujarati"
msgstr "ગુજરાતી"

#: src/language_files/ha/kf6_entry.desktop:2
msgctxt "Name"
msgid "Hausa"
msgstr "હુસા"

#: src/language_files/he/kf6_entry.desktop:2
msgctxt "Name"
msgid "Hebrew"
msgstr "હિબ્રુ"

#: src/language_files/hi/kf6_entry.desktop:2
msgctxt "Name"
msgid "Hindi"
msgstr "હિન્દી"

#: src/language_files/hne/kf6_entry.desktop:2
msgctxt "Name"
msgid "Chhattisgarhi"
msgstr "છત્તિસગઢી"

#: src/language_files/hr/kf6_entry.desktop:2
msgctxt "Name"
msgid "Croatian"
msgstr "ક્રોએશિયન"

#: src/language_files/hsb/kf6_entry.desktop:2
msgctxt "Name"
msgid "Upper Sorbian"
msgstr "ઉચ્ચ સોર્બિયન"

#: src/language_files/hu/kf6_entry.desktop:2
msgctxt "Name"
msgid "Hungarian"
msgstr "હંગેરિયન"

#: src/language_files/hy/kf6_entry.desktop:2
msgctxt "Name"
msgid "Armenian"
msgstr "અર્મેનિયન"

#: src/language_files/ia/kf6_entry.desktop:2
msgctxt "Name"
msgid "Interlingua"
msgstr "ઇન્ટરલિન્ગુઆ"

#: src/language_files/id/kf6_entry.desktop:2
msgctxt "Name"
msgid "Indonesian"
msgstr "ઈન્ડોનેશિયન"

#: src/language_files/ie/kf6_entry.desktop:2
#, fuzzy
msgctxt "Name"
msgid "Interlingue"
msgstr "ઇન્ટરલિન્ગુઆ"

#: src/language_files/is/kf6_entry.desktop:2
msgctxt "Name"
msgid "Icelandic"
msgstr "આઈલેન્ડિક"

#: src/language_files/it/kf6_entry.desktop:2
msgctxt "Name"
msgid "Italian"
msgstr "ઈટાલીયન"

#: src/language_files/ja/kf6_entry.desktop:2
msgctxt "Name"
msgid "Japanese"
msgstr "જાપાનીઝ"

#: src/language_files/ka/kf6_entry.desktop:2
msgctxt "Name"
msgid "Georgian"
msgstr "જ્યોર્જિયન"

#: src/language_files/kk/kf6_entry.desktop:2
msgctxt "Name"
msgid "Kazakh"
msgstr "કઝાખ"

#: src/language_files/km/kf6_entry.desktop:2
msgctxt "Name"
msgid "Khmer"
msgstr "ખ્મેર"

#: src/language_files/kn/kf6_entry.desktop:2
msgctxt "Name"
msgid "Kannada"
msgstr "કન્નડા"

#: src/language_files/ko/kf6_entry.desktop:2
msgctxt "Name"
msgid "Korean"
msgstr "કોરીયન"

#: src/language_files/ku/kf6_entry.desktop:2
msgctxt "Name"
msgid "Kurdish"
msgstr "કુર્દીશ"

#: src/language_files/lb/kf6_entry.desktop:2
msgctxt "Name"
msgid "Luxembourgish"
msgstr "લક્ઝેમ્બર્ગીઝ"

#: src/language_files/lt/kf6_entry.desktop:2
msgctxt "Name"
msgid "Lithuanian"
msgstr "લિથુઆનિયન"

#: src/language_files/lv/kf6_entry.desktop:2
msgctxt "Name"
msgid "Latvian"
msgstr "લેટવિયન"

#: src/language_files/mai/kf6_entry.desktop:2
msgctxt "Name"
msgid "Maithili"
msgstr "મૈથિલિ"

#: src/language_files/mk/kf6_entry.desktop:2
msgctxt "Name"
msgid "Macedonian"
msgstr "મેસેડોનિયન"

#: src/language_files/ml/kf6_entry.desktop:2
msgctxt "Name"
msgid "Malayalam"
msgstr "મલયાલમ"

#: src/language_files/mr/kf6_entry.desktop:2
msgctxt "Name"
msgid "Marathi"
msgstr "મરાઠી"

#: src/language_files/ms/kf6_entry.desktop:2
msgctxt "Name"
msgid "Malay"
msgstr "મલય"

#: src/language_files/my/kf6_entry.desktop:2
msgctxt "Name"
msgid "Burmese"
msgstr ""

#: src/language_files/nb/kf6_entry.desktop:2
msgctxt "Name"
msgid "Norwegian Bokmål"
msgstr "નોર્વેયન બોકમલ"

#: src/language_files/nds/kf6_entry.desktop:2
msgctxt "Name"
msgid "Low Saxon"
msgstr "નીચું સેક્સોન"

#: src/language_files/ne/kf6_entry.desktop:2
msgctxt "Name"
msgid "Nepali"
msgstr "નેપાળી"

#: src/language_files/nl/kf6_entry.desktop:2
msgctxt "Name"
msgid "Dutch"
msgstr "ડચ"

#: src/language_files/nn/kf6_entry.desktop:2
msgctxt "Name"
msgid "Norwegian Nynorsk"
msgstr "નોર્વેયન નોર્સક"

#: src/language_files/oc/kf6_entry.desktop:2
msgctxt "Name"
msgid "Occitan"
msgstr ""

#: src/language_files/or/kf6_entry.desktop:2
msgctxt "Name"
msgid "Oriya"
msgstr "ઓરિયા"

#: src/language_files/pa/kf6_entry.desktop:2
msgctxt "Name"
msgid "Punjabi"
msgstr "પંજાબી"

#: src/language_files/pl/kf6_entry.desktop:2
msgctxt "Name"
msgid "Polish"
msgstr "પોલિશ"

#: src/language_files/ps/kf6_entry.desktop:2
msgctxt "Name"
msgid "Pashto"
msgstr "પાશ્તો"

#: src/language_files/pt_BR/kf6_entry.desktop:2
msgctxt "Name"
msgid "Brazil portuguese"
msgstr "બ્રાઝિલ પોર્ટુગીઝ"

#: src/language_files/pt/kf6_entry.desktop:2
msgctxt "Name"
msgid "Portuguese"
msgstr "પોર્ટુગીઝ"

#: src/language_files/ro/kf6_entry.desktop:2
msgctxt "Name"
msgid "Romanian"
msgstr "રોમેનિયન"

#: src/language_files/ru/kf6_entry.desktop:2
msgctxt "Name"
msgid "Russian"
msgstr "રશિયન"

#: src/language_files/se/kf6_entry.desktop:2
msgctxt "Name"
msgid "Northern Sami"
msgstr "ઉત્તરી સામી"

#: src/language_files/si/kf6_entry.desktop:2
msgctxt "Name"
msgid "Sinhala"
msgstr "સિંહાલા"

#: src/language_files/sk/kf6_entry.desktop:2
msgctxt "Name"
msgid "Slovak"
msgstr "સ્લોવેક"

#: src/language_files/sl/kf6_entry.desktop:2
msgctxt "Name"
msgid "Slovenian"
msgstr "સ્લોવેનિયન"

#: src/language_files/sq/kf6_entry.desktop:2
msgctxt "Name"
msgid "Albanian"
msgstr "અલ્બેનિઅન"

#: src/language_files/sr@ijekavian/kf6_entry.desktop:2
msgctxt "Name"
msgid "Serbian Ijekavian"
msgstr "સર્બિયન ઇજેકાવિઅન"

#: src/language_files/sr@ijekavianlatin/kf6_entry.desktop:2
msgctxt "Name"
msgid "Serbian Ijekavian Latin"
msgstr "સર્બિયન ઇજેકાવિઅન લેટિન"

#: src/language_files/sr/kf6_entry.desktop:2
msgctxt "Name"
msgid "Serbian"
msgstr "સર્બિયન"

#: src/language_files/sr@latin/kf6_entry.desktop:2
msgctxt "Name"
msgid "Serbian Latin"
msgstr "સર્બિયન લેટિન"

#: src/language_files/sv/kf6_entry.desktop:2
msgctxt "Name"
msgid "Swedish"
msgstr "સ્વીડિશ"

#: src/language_files/ta/kf6_entry.desktop:2
msgctxt "Name"
msgid "Tamil"
msgstr "તમિલ"

#: src/language_files/te/kf6_entry.desktop:2
msgctxt "Name"
msgid "Telugu"
msgstr "તેલુગુ"

#: src/language_files/tg/kf6_entry.desktop:2
msgctxt "Name"
msgid "Tajik"
msgstr "તાજીક"

#: src/language_files/th/kf6_entry.desktop:2
msgctxt "Name"
msgid "Thai"
msgstr "થાઈ"

#: src/language_files/tok/kf6_entry.desktop:2
msgctxt "Name"
msgid "Toki Pona"
msgstr ""

#: src/language_files/tr/kf6_entry.desktop:2
msgctxt "Name"
msgid "Turkish"
msgstr "તુર્કીશ"

#: src/language_files/tt/kf6_entry.desktop:2
msgctxt "Name"
msgid "Tatar"
msgstr "તાતાર"

#: src/language_files/ug/kf6_entry.desktop:2
msgctxt "Name"
msgid "Uyghur"
msgstr "ઉયુગિહઅર"

#: src/language_files/uk/kf6_entry.desktop:2
msgctxt "Name"
msgid "Ukrainian"
msgstr "યુક્રેનિયન"

#: src/language_files/uz@cyrillic/kf6_entry.desktop:2
msgctxt "Name"
msgid "Uzbek (Cyrillic)"
msgstr "ઉઝબેક (સિરીલિક)"

#: src/language_files/uz/kf6_entry.desktop:2
msgctxt "Name"
msgid "Uzbek"
msgstr "ઉઝબેક"

#: src/language_files/vi/kf6_entry.desktop:2
msgctxt "Name"
msgid "Vietnamese"
msgstr "વિયેટનામીઝ"

#: src/language_files/wa/kf6_entry.desktop:2
msgctxt "Name"
msgid "Walloon"
msgstr "વોલુન"

#: src/language_files/xh/kf6_entry.desktop:2
msgctxt "Name"
msgid "Xhosa"
msgstr "હોસા"

#: src/language_files/zh_CN/kf6_entry.desktop:2
msgctxt "Name"
msgid "Simplified Chinese"
msgstr "સરળ ચાઇનિઝ"

#: src/language_files/zh_HK/kf6_entry.desktop:2
msgctxt "Name"
msgid "Chinese (Hong Kong)"
msgstr "ચાઇનીઝ (હોંગ કોંગ)"

#: src/language_files/zh_TW/kf6_entry.desktop:2
msgctxt "Name"
msgid "Traditional Chinese"
msgstr "પરંપરાગત ચાઇનિઝ"

#~ msgctxt "Name"
#~ msgid "KDE Test Language"
#~ msgstr "KDE ચકાસણી માટેની ભાષા"

#, fuzzy
#~| msgctxt "Name"
#~| msgid "KDE SVN Build"
#~ msgctxt "Name"
#~ msgid "KDE Source Builder"
#~ msgstr "KDE SVN બિલ્ડ"

#~ msgctxt "Name"
#~ msgid "Kontact Administration"
#~ msgstr "કોન્ટેક સંચાલક"

#~ msgctxt "Name"
#~ msgid "KOffice"
#~ msgstr "KOffice"

#~ msgctxt "Name"
#~ msgid "Valencian (southern Catalan)"
#~ msgstr "વેલેસિયન (દક્ષિણી કેટેલાન)"

#~ msgctxt "Name"
#~ msgid "Chinese"
#~ msgstr "ચાઇનીઝ"
