# translation of desktop_l10n.po to Hindi
# Ravishankar Shrivastava <raviratlami@yahoo.com>, 2007.
# G Karunakar <karunakar@indlinux.org>, 2012.
# Raghavendra Kamath <raghu@raghukamath.com>, 2021.
msgid ""
msgstr ""
"Project-Id-Version: desktop_l10n\n"
"Report-Msgid-Bugs-To: https://bugs.kde.org\n"
"POT-Creation-Date: 2025-11-17 11:58+0000\n"
"PO-Revision-Date: 2021-10-11 12:52+0530\n"
"Last-Translator: Raghavendra Kamath <raghu@raghukamath.com>\n"
"Language-Team: kde-hindi\n"
"Language: hi\n"
"MIME-Version: 1.0\n"
"Content-Type: text/plain; charset=UTF-8\n"
"Content-Transfer-Encoding: 8bit\n"
"X-Generator: Lokalize 21.08.2\n"
"Plural-Forms: nplurals=2; plural=(n!=1);\n"

#: src/entry.desktop:2
#, fuzzy
msgctxt "Name"
msgid "US English"
msgstr "ब्रितानी अंग्रेज़ी"

#: src/language_files/af/kf6_entry.desktop:2
msgctxt "Name"
msgid "Afrikaans"
msgstr "अफ्रीकी"

#: src/language_files/ar/kf6_entry.desktop:2
msgctxt "Name"
msgid "Arabic"
msgstr "अरबी"

#: src/language_files/as/kf6_entry.desktop:2
msgctxt "Name"
msgid "Assamese"
msgstr "अस्सामी"

#: src/language_files/ast/kf6_entry.desktop:2
msgctxt "Name"
msgid "Asturian"
msgstr "एस्तुरियन"

#: src/language_files/az/kf6_entry.desktop:2
msgctxt "Name"
msgid "Azerbaijani"
msgstr "अजरबेजानी"

#: src/language_files/be/kf6_entry.desktop:2
msgctxt "Name"
msgid "Belarusian"
msgstr "बेलारूसी"

#: src/language_files/be@latin/kf6_entry.desktop:2
msgctxt "Name"
msgid "Belarusian Latin"
msgstr "बेलारूसी लातिन"

#: src/language_files/bg/kf6_entry.desktop:2
msgctxt "Name"
msgid "Bulgarian"
msgstr "बुल्गारियाई"

#: src/language_files/bn_IN/kf6_entry.desktop:2
msgctxt "Name"
msgid "Bengali (India)"
msgstr "बंगाली (भारत)"

#: src/language_files/bn/kf6_entry.desktop:2
msgctxt "Name"
msgid "Bengali"
msgstr "बंगाली"

#: src/language_files/br/kf6_entry.desktop:2
msgctxt "Name"
msgid "Breton"
msgstr "ब्रेटन"

#: src/language_files/bs/kf6_entry.desktop:2
msgctxt "Name"
msgid "Bosnian"
msgstr "बोस्नियाई"

#: src/language_files/ca/kf6_entry.desktop:2
msgctxt "Name"
msgid "Catalan"
msgstr "केटेलन"

#: src/language_files/ca@valencia/kf6_entry.desktop:2
msgctxt "Name"
msgid "Catalan (Valencian)"
msgstr "केटेलन (वेलेन्सियन)"

#: src/language_files/crh/kf6_entry.desktop:2
msgctxt "Name"
msgid "Crimean Tatar"
msgstr "क्रिमियन तातर"

#: src/language_files/csb/kf6_entry.desktop:2
msgctxt "Name"
msgid "Kashubian"
msgstr "कासुबियाई"

#: src/language_files/cs/kf6_entry.desktop:2
msgctxt "Name"
msgid "Czech"
msgstr "चेक"

#: src/language_files/cy/kf6_entry.desktop:2
msgctxt "Name"
msgid "Welsh"
msgstr "वेल्श"

#: src/language_files/da/kf6_entry.desktop:2
msgctxt "Name"
msgid "Danish"
msgstr "दानिश"

#: src/language_files/de/kf6_entry.desktop:2
msgctxt "Name"
msgid "German"
msgstr "जर्मन"

#: src/language_files/el/kf6_entry.desktop:2
msgctxt "Name"
msgid "Greek"
msgstr "यूनानी"

#: src/language_files/en_GB/kf6_entry.desktop:2
msgctxt "Name"
msgid "British English"
msgstr "ब्रितानी अंग्रेज़ी"

#: src/language_files/eo/kf6_entry.desktop:2
msgctxt "Name"
msgid "Esperanto"
msgstr "एस्परेन्तो"

#: src/language_files/es/kf6_entry.desktop:2
msgctxt "Name"
msgid "Spanish"
msgstr "स्पेनी"

#: src/language_files/et/kf6_entry.desktop:2
msgctxt "Name"
msgid "Estonian"
msgstr "एस्तोनियाई"

#: src/language_files/eu/kf6_entry.desktop:2
msgctxt "Name"
msgid "Basque"
msgstr "बास्क"

#: src/language_files/fa/kf6_entry.desktop:2
msgctxt "Name"
msgid "Farsi"
msgstr "फारसी"

#: src/language_files/fi/kf6_entry.desktop:2
msgctxt "Name"
msgid "Finnish"
msgstr "फिनिश"

#: src/language_files/fr/kf6_entry.desktop:2
msgctxt "Name"
msgid "French"
msgstr "फ्रांसीसी"

#: src/language_files/fy/kf6_entry.desktop:2
msgctxt "Name"
msgid "Frisian"
msgstr "फ्रिसियन"

#: src/language_files/ga/kf6_entry.desktop:2
msgctxt "Name"
msgid "Irish"
msgstr "आइरिश"

#: src/language_files/gd/kf6_entry.desktop:2
msgctxt "Name"
msgid "Scottish Gaelic"
msgstr "स्कॉटिश गैलिक"

#: src/language_files/gl/kf6_entry.desktop:2
msgctxt "Name"
msgid "Galician"
msgstr "गैलिसियाई"

#: src/language_files/gu/kf6_entry.desktop:2
msgctxt "Name"
msgid "Gujarati"
msgstr "गुजराती"

#: src/language_files/ha/kf6_entry.desktop:2
msgctxt "Name"
msgid "Hausa"
msgstr "हौसा"

#: src/language_files/he/kf6_entry.desktop:2
msgctxt "Name"
msgid "Hebrew"
msgstr "हिब्रू"

#: src/language_files/hi/kf6_entry.desktop:2
msgctxt "Name"
msgid "Hindi"
msgstr "हिन्दी"

#: src/language_files/hne/kf6_entry.desktop:2
msgctxt "Name"
msgid "Chhattisgarhi"
msgstr "चत्तिसगढ़ी"

#: src/language_files/hr/kf6_entry.desktop:2
msgctxt "Name"
msgid "Croatian"
msgstr "क्रोएशियाई"

#: src/language_files/hsb/kf6_entry.desktop:2
msgctxt "Name"
msgid "Upper Sorbian"
msgstr "ऊपरी सॉर्बियाई"

#: src/language_files/hu/kf6_entry.desktop:2
msgctxt "Name"
msgid "Hungarian"
msgstr "हंगेरियाई"

#: src/language_files/hy/kf6_entry.desktop:2
msgctxt "Name"
msgid "Armenian"
msgstr "अर्मिनियाई"

#: src/language_files/ia/kf6_entry.desktop:2
msgctxt "Name"
msgid "Interlingua"
msgstr "अंतरभाषी"

#: src/language_files/id/kf6_entry.desktop:2
msgctxt "Name"
msgid "Indonesian"
msgstr "इंडोनेशियाई"

#: src/language_files/ie/kf6_entry.desktop:2
#, fuzzy
msgctxt "Name"
msgid "Interlingue"
msgstr "अंतरभाषी"

#: src/language_files/is/kf6_entry.desktop:2
msgctxt "Name"
msgid "Icelandic"
msgstr "आइसलैंडिक"

#: src/language_files/it/kf6_entry.desktop:2
msgctxt "Name"
msgid "Italian"
msgstr "इतालवी"

#: src/language_files/ja/kf6_entry.desktop:2
msgctxt "Name"
msgid "Japanese"
msgstr "जापानी"

#: src/language_files/ka/kf6_entry.desktop:2
msgctxt "Name"
msgid "Georgian"
msgstr "ज्यॉर्जियाई"

#: src/language_files/kk/kf6_entry.desktop:2
msgctxt "Name"
msgid "Kazakh"
msgstr "कज़ाख"

#: src/language_files/km/kf6_entry.desktop:2
msgctxt "Name"
msgid "Khmer"
msgstr "ख्मेर"

#: src/language_files/kn/kf6_entry.desktop:2
msgctxt "Name"
msgid "Kannada"
msgstr "कन्नड"

#: src/language_files/ko/kf6_entry.desktop:2
msgctxt "Name"
msgid "Korean"
msgstr "कोरियाई"

#: src/language_files/ku/kf6_entry.desktop:2
msgctxt "Name"
msgid "Kurdish"
msgstr "कुर्दी"

#: src/language_files/lb/kf6_entry.desktop:2
msgctxt "Name"
msgid "Luxembourgish"
msgstr "लक्जमबर्गिश"

#: src/language_files/lt/kf6_entry.desktop:2
msgctxt "Name"
msgid "Lithuanian"
msgstr "लिथुआनियाई"

#: src/language_files/lv/kf6_entry.desktop:2
msgctxt "Name"
msgid "Latvian"
msgstr "लातवियाई"

#: src/language_files/mai/kf6_entry.desktop:2
msgctxt "Name"
msgid "Maithili"
msgstr "मैथिली"

#: src/language_files/mk/kf6_entry.desktop:2
msgctxt "Name"
msgid "Macedonian"
msgstr "मकदूनियाई"

#: src/language_files/ml/kf6_entry.desktop:2
msgctxt "Name"
msgid "Malayalam"
msgstr "मलयालम"

#: src/language_files/mr/kf6_entry.desktop:2
msgctxt "Name"
msgid "Marathi"
msgstr "मराठी"

#: src/language_files/ms/kf6_entry.desktop:2
msgctxt "Name"
msgid "Malay"
msgstr "मलय"

#: src/language_files/my/kf6_entry.desktop:2
msgctxt "Name"
msgid "Burmese"
msgstr "बर्मी"

#: src/language_files/nb/kf6_entry.desktop:2
msgctxt "Name"
msgid "Norwegian Bokmål"
msgstr "नार्वेजियाई बोकमाल"

#: src/language_files/nds/kf6_entry.desktop:2
msgctxt "Name"
msgid "Low Saxon"
msgstr "लो सेक्सन"

#: src/language_files/ne/kf6_entry.desktop:2
msgctxt "Name"
msgid "Nepali"
msgstr "नेपाली"

#: src/language_files/nl/kf6_entry.desktop:2
msgctxt "Name"
msgid "Dutch"
msgstr "डच"

#: src/language_files/nn/kf6_entry.desktop:2
msgctxt "Name"
msgid "Norwegian Nynorsk"
msgstr "नारवेजियाई नायनोर्सक"

#: src/language_files/oc/kf6_entry.desktop:2
msgctxt "Name"
msgid "Occitan"
msgstr "ओकितन"

#: src/language_files/or/kf6_entry.desktop:2
msgctxt "Name"
msgid "Oriya"
msgstr "उडिया"

#: src/language_files/pa/kf6_entry.desktop:2
msgctxt "Name"
msgid "Punjabi"
msgstr "पंजाबी"

#: src/language_files/pl/kf6_entry.desktop:2
msgctxt "Name"
msgid "Polish"
msgstr "पोलिश"

#: src/language_files/ps/kf6_entry.desktop:2
msgctxt "Name"
msgid "Pashto"
msgstr "पशतो"

#: src/language_files/pt_BR/kf6_entry.desktop:2
msgctxt "Name"
msgid "Brazil portuguese"
msgstr "ब्राजील पुर्तगाली"

#: src/language_files/pt/kf6_entry.desktop:2
msgctxt "Name"
msgid "Portuguese"
msgstr "पुर्तगाली"

#: src/language_files/ro/kf6_entry.desktop:2
msgctxt "Name"
msgid "Romanian"
msgstr "रोमानियाई"

#: src/language_files/ru/kf6_entry.desktop:2
msgctxt "Name"
msgid "Russian"
msgstr "रूसी"

#: src/language_files/se/kf6_entry.desktop:2
msgctxt "Name"
msgid "Northern Sami"
msgstr "उत्तरी सामी"

#: src/language_files/si/kf6_entry.desktop:2
msgctxt "Name"
msgid "Sinhala"
msgstr "सिंहाला"

#: src/language_files/sk/kf6_entry.desktop:2
msgctxt "Name"
msgid "Slovak"
msgstr "स्लोवाक"

#: src/language_files/sl/kf6_entry.desktop:2
msgctxt "Name"
msgid "Slovenian"
msgstr "स्लोवेनियाई"

#: src/language_files/sq/kf6_entry.desktop:2
msgctxt "Name"
msgid "Albanian"
msgstr "अल्बानियाई"

#: src/language_files/sr@ijekavian/kf6_entry.desktop:2
msgctxt "Name"
msgid "Serbian Ijekavian"
msgstr "सर्बियाई जेकावियन"

#: src/language_files/sr@ijekavianlatin/kf6_entry.desktop:2
msgctxt "Name"
msgid "Serbian Ijekavian Latin"
msgstr "सर्बियाई जेकावियन लातिनी"

#: src/language_files/sr/kf6_entry.desktop:2
msgctxt "Name"
msgid "Serbian"
msgstr "सर्बियाई"

#: src/language_files/sr@latin/kf6_entry.desktop:2
msgctxt "Name"
msgid "Serbian Latin"
msgstr "सर्बियाई लातिनी"

#: src/language_files/sv/kf6_entry.desktop:2
msgctxt "Name"
msgid "Swedish"
msgstr "स्वीडिश"

#: src/language_files/ta/kf6_entry.desktop:2
msgctxt "Name"
msgid "Tamil"
msgstr "तमिल"

#: src/language_files/te/kf6_entry.desktop:2
msgctxt "Name"
msgid "Telugu"
msgstr "तेलुगु"

#: src/language_files/tg/kf6_entry.desktop:2
msgctxt "Name"
msgid "Tajik"
msgstr "ताजिक"

#: src/language_files/th/kf6_entry.desktop:2
msgctxt "Name"
msgid "Thai"
msgstr "थाई"

#: src/language_files/tok/kf6_entry.desktop:2
msgctxt "Name"
msgid "Toki Pona"
msgstr ""

#: src/language_files/tr/kf6_entry.desktop:2
msgctxt "Name"
msgid "Turkish"
msgstr "तुर्की"

#: src/language_files/tt/kf6_entry.desktop:2
msgctxt "Name"
msgid "Tatar"
msgstr "तातार"

#: src/language_files/ug/kf6_entry.desktop:2
msgctxt "Name"
msgid "Uyghur"
msgstr "उघ्यूर"

#: src/language_files/uk/kf6_entry.desktop:2
msgctxt "Name"
msgid "Ukrainian"
msgstr "उक्रेनियाई"

#: src/language_files/uz@cyrillic/kf6_entry.desktop:2
msgctxt "Name"
msgid "Uzbek (Cyrillic)"
msgstr "उज़बैक (सिरिलिक)"

#: src/language_files/uz/kf6_entry.desktop:2
msgctxt "Name"
msgid "Uzbek"
msgstr "उज्बेक"

#: src/language_files/vi/kf6_entry.desktop:2
msgctxt "Name"
msgid "Vietnamese"
msgstr "विएतनामी"

#: src/language_files/wa/kf6_entry.desktop:2
msgctxt "Name"
msgid "Walloon"
msgstr "वालून"

#: src/language_files/xh/kf6_entry.desktop:2
msgctxt "Name"
msgid "Xhosa"
msgstr "झ़ोसा"

#: src/language_files/zh_CN/kf6_entry.desktop:2
msgctxt "Name"
msgid "Simplified Chinese"
msgstr "सरलीकृत चीनी"

#: src/language_files/zh_HK/kf6_entry.desktop:2
msgctxt "Name"
msgid "Chinese (Hong Kong)"
msgstr "चीनी (हांग कांग)"

#: src/language_files/zh_TW/kf6_entry.desktop:2
msgctxt "Name"
msgid "Traditional Chinese"
msgstr "परंपरिक चीनी"

#~ msgctxt "Name"
#~ msgid "KDE Test Language"
#~ msgstr "केडीई जांच भाषा"

#, fuzzy
#~| msgctxt "Name"
#~| msgid "KDE SVN Build"
#~ msgctxt "Name"
#~ msgid "KDE Source Builder"
#~ msgstr "केडीई एसविन बिल्ड"

#~ msgctxt "Name"
#~ msgid "မြန်မာ"
#~ msgstr "म्यांमार"

#~ msgctxt "Name"
#~ msgid "KOffice"
#~ msgstr "के-ऑफ़िस"

#~ msgctxt "Name"
#~ msgid "Valencian (southern Catalan)"
#~ msgstr "वेलेसियाँ (दक्षिणी कातालाँ)"
