# translation of desktop_l10n.po to Kazakh
# Sairan Kikkarin <sairan@computer.org>, 2005, 2006, 2007, 2008, 2010.
# Sairan Kikkarin <sairan@computer.org>, 2010, 2011.
# Sairan Kikkarin <sairan(at)computer.org>, 2010, 2012.
msgid ""
msgstr ""
"Project-Id-Version: desktop_l10n\n"
"Report-Msgid-Bugs-To: https://bugs.kde.org\n"
"POT-Creation-Date: 2025-11-17 11:58+0000\n"
"PO-Revision-Date: 2012-11-11 06:18+0600\n"
"Last-Translator: Sairan Kikkarin <sairan@computer.org>\n"
"Language-Team: Kazakh <kde-i18n-doc@kde.org>\n"
"Language: kk\n"
"MIME-Version: 1.0\n"
"Content-Type: text/plain; charset=UTF-8\n"
"Content-Transfer-Encoding: 8bit\n"
"X-Generator: Lokalize 1.2\n"
"Plural-Forms: nplurals=1; plural=0;\n"
"\n"

#: src/entry.desktop:2
#, fuzzy
msgctxt "Name"
msgid "US English"
msgstr "Британдық ағылшынша"

#: src/language_files/af/kf6_entry.desktop:2
msgctxt "Name"
msgid "Afrikaans"
msgstr "Африкаансша"

#: src/language_files/ar/kf6_entry.desktop:2
msgctxt "Name"
msgid "Arabic"
msgstr "Арабша"

#: src/language_files/as/kf6_entry.desktop:2
msgctxt "Name"
msgid "Assamese"
msgstr "Ассамша"

#: src/language_files/ast/kf6_entry.desktop:2
msgctxt "Name"
msgid "Asturian"
msgstr "Астурианша"

#: src/language_files/az/kf6_entry.desktop:2
msgctxt "Name"
msgid "Azerbaijani"
msgstr ""

#: src/language_files/be/kf6_entry.desktop:2
msgctxt "Name"
msgid "Belarusian"
msgstr "Белорусша"

#: src/language_files/be@latin/kf6_entry.desktop:2
msgctxt "Name"
msgid "Belarusian Latin"
msgstr "Латындағы Белорусша"

#: src/language_files/bg/kf6_entry.desktop:2
msgctxt "Name"
msgid "Bulgarian"
msgstr "Болғарша"

#: src/language_files/bn_IN/kf6_entry.desktop:2
msgctxt "Name"
msgid "Bengali (India)"
msgstr "Бенгалша (Үндістан)"

#: src/language_files/bn/kf6_entry.desktop:2
msgctxt "Name"
msgid "Bengali"
msgstr "Бенгалша"

#: src/language_files/br/kf6_entry.desktop:2
msgctxt "Name"
msgid "Breton"
msgstr "Бретонша"

#: src/language_files/bs/kf6_entry.desktop:2
msgctxt "Name"
msgid "Bosnian"
msgstr "Боснаша"

#: src/language_files/ca/kf6_entry.desktop:2
msgctxt "Name"
msgid "Catalan"
msgstr "Каталанша"

#: src/language_files/ca@valencia/kf6_entry.desktop:2
msgctxt "Name"
msgid "Catalan (Valencian)"
msgstr "Каталанша (Валенсияша)"

#: src/language_files/crh/kf6_entry.desktop:2
msgctxt "Name"
msgid "Crimean Tatar"
msgstr "Қырым Татарша"

#: src/language_files/csb/kf6_entry.desktop:2
msgctxt "Name"
msgid "Kashubian"
msgstr "Кашубша"

#: src/language_files/cs/kf6_entry.desktop:2
msgctxt "Name"
msgid "Czech"
msgstr "Чехше"

#: src/language_files/cy/kf6_entry.desktop:2
msgctxt "Name"
msgid "Welsh"
msgstr "Уэлсше"

#: src/language_files/da/kf6_entry.desktop:2
msgctxt "Name"
msgid "Danish"
msgstr "Датша"

#: src/language_files/de/kf6_entry.desktop:2
msgctxt "Name"
msgid "German"
msgstr "Немісше"

#: src/language_files/el/kf6_entry.desktop:2
msgctxt "Name"
msgid "Greek"
msgstr "Грекше"

#: src/language_files/en_GB/kf6_entry.desktop:2
msgctxt "Name"
msgid "British English"
msgstr "Британдық ағылшынша"

#: src/language_files/eo/kf6_entry.desktop:2
msgctxt "Name"
msgid "Esperanto"
msgstr "Эсперанто"

#: src/language_files/es/kf6_entry.desktop:2
msgctxt "Name"
msgid "Spanish"
msgstr "Испанша"

#: src/language_files/et/kf6_entry.desktop:2
msgctxt "Name"
msgid "Estonian"
msgstr "Эстонша"

#: src/language_files/eu/kf6_entry.desktop:2
msgctxt "Name"
msgid "Basque"
msgstr "Баскша"

#: src/language_files/fa/kf6_entry.desktop:2
msgctxt "Name"
msgid "Farsi"
msgstr "Фарси"

#: src/language_files/fi/kf6_entry.desktop:2
msgctxt "Name"
msgid "Finnish"
msgstr "Финнша"

#: src/language_files/fr/kf6_entry.desktop:2
msgctxt "Name"
msgid "French"
msgstr "Французша"

#: src/language_files/fy/kf6_entry.desktop:2
msgctxt "Name"
msgid "Frisian"
msgstr "Фризше"

#: src/language_files/ga/kf6_entry.desktop:2
msgctxt "Name"
msgid "Irish"
msgstr "Ирландша"

#: src/language_files/gd/kf6_entry.desktop:2
msgctxt "Name"
msgid "Scottish Gaelic"
msgstr ""

#: src/language_files/gl/kf6_entry.desktop:2
msgctxt "Name"
msgid "Galician"
msgstr "Галисияша"

#: src/language_files/gu/kf6_entry.desktop:2
msgctxt "Name"
msgid "Gujarati"
msgstr "Гуджарати"

#: src/language_files/ha/kf6_entry.desktop:2
msgctxt "Name"
msgid "Hausa"
msgstr "Хаузаша"

#: src/language_files/he/kf6_entry.desktop:2
msgctxt "Name"
msgid "Hebrew"
msgstr "Иврит"

#: src/language_files/hi/kf6_entry.desktop:2
msgctxt "Name"
msgid "Hindi"
msgstr "Хинди"

#: src/language_files/hne/kf6_entry.desktop:2
msgctxt "Name"
msgid "Chhattisgarhi"
msgstr "Чхаттисгархише"

#: src/language_files/hr/kf6_entry.desktop:2
msgctxt "Name"
msgid "Croatian"
msgstr "Хорватша"

#: src/language_files/hsb/kf6_entry.desktop:2
msgctxt "Name"
msgid "Upper Sorbian"
msgstr "Жоғарғы сорбше"

#: src/language_files/hu/kf6_entry.desktop:2
msgctxt "Name"
msgid "Hungarian"
msgstr "Мажарша"

#: src/language_files/hy/kf6_entry.desktop:2
msgctxt "Name"
msgid "Armenian"
msgstr "Армянша"

#: src/language_files/ia/kf6_entry.desktop:2
msgctxt "Name"
msgid "Interlingua"
msgstr "Интерлингва"

#: src/language_files/id/kf6_entry.desktop:2
msgctxt "Name"
msgid "Indonesian"
msgstr "Индонезияша"

#: src/language_files/ie/kf6_entry.desktop:2
#, fuzzy
msgctxt "Name"
msgid "Interlingue"
msgstr "Интерлингва"

#: src/language_files/is/kf6_entry.desktop:2
msgctxt "Name"
msgid "Icelandic"
msgstr "Исландша"

#: src/language_files/it/kf6_entry.desktop:2
msgctxt "Name"
msgid "Italian"
msgstr "Итальянша"

#: src/language_files/ja/kf6_entry.desktop:2
msgctxt "Name"
msgid "Japanese"
msgstr "Жапонша"

#: src/language_files/ka/kf6_entry.desktop:2
msgctxt "Name"
msgid "Georgian"
msgstr "Гүржіше"

#: src/language_files/kk/kf6_entry.desktop:2
msgctxt "Name"
msgid "Kazakh"
msgstr "Қазақша"

#: src/language_files/km/kf6_entry.desktop:2
msgctxt "Name"
msgid "Khmer"
msgstr "Кхмерше"

#: src/language_files/kn/kf6_entry.desktop:2
msgctxt "Name"
msgid "Kannada"
msgstr "Каннадаша"

#: src/language_files/ko/kf6_entry.desktop:2
msgctxt "Name"
msgid "Korean"
msgstr "Корейше"

#: src/language_files/ku/kf6_entry.desktop:2
msgctxt "Name"
msgid "Kurdish"
msgstr "Курдша"

#: src/language_files/lb/kf6_entry.desktop:2
msgctxt "Name"
msgid "Luxembourgish"
msgstr "Люксенбургша"

#: src/language_files/lt/kf6_entry.desktop:2
msgctxt "Name"
msgid "Lithuanian"
msgstr "Литваша"

#: src/language_files/lv/kf6_entry.desktop:2
msgctxt "Name"
msgid "Latvian"
msgstr "Латвияша"

#: src/language_files/mai/kf6_entry.desktop:2
msgctxt "Name"
msgid "Maithili"
msgstr "Майтхилише"

#: src/language_files/mk/kf6_entry.desktop:2
msgctxt "Name"
msgid "Macedonian"
msgstr "Македонша"

#: src/language_files/ml/kf6_entry.desktop:2
msgctxt "Name"
msgid "Malayalam"
msgstr "Малайам"

#: src/language_files/mr/kf6_entry.desktop:2
msgctxt "Name"
msgid "Marathi"
msgstr "Марати"

#: src/language_files/ms/kf6_entry.desktop:2
msgctxt "Name"
msgid "Malay"
msgstr "Малайша"

#: src/language_files/my/kf6_entry.desktop:2
msgctxt "Name"
msgid "Burmese"
msgstr ""

#: src/language_files/nb/kf6_entry.desktop:2
msgctxt "Name"
msgid "Norwegian Bokmål"
msgstr "Норвег букмалша"

#: src/language_files/nds/kf6_entry.desktop:2
msgctxt "Name"
msgid "Low Saxon"
msgstr "Төмен саксонша"

#: src/language_files/ne/kf6_entry.desktop:2
msgctxt "Name"
msgid "Nepali"
msgstr "Непалша"

#: src/language_files/nl/kf6_entry.desktop:2
msgctxt "Name"
msgid "Dutch"
msgstr "Нидреландша"

#: src/language_files/nn/kf6_entry.desktop:2
msgctxt "Name"
msgid "Norwegian Nynorsk"
msgstr "Новег нунорскша"

#: src/language_files/oc/kf6_entry.desktop:2
msgctxt "Name"
msgid "Occitan"
msgstr ""

#: src/language_files/or/kf6_entry.desktop:2
msgctxt "Name"
msgid "Oriya"
msgstr "Ория"

#: src/language_files/pa/kf6_entry.desktop:2
msgctxt "Name"
msgid "Punjabi"
msgstr "Панджаби"

#: src/language_files/pl/kf6_entry.desktop:2
msgctxt "Name"
msgid "Polish"
msgstr "Полякша"

#: src/language_files/ps/kf6_entry.desktop:2
msgctxt "Name"
msgid "Pashto"
msgstr "Пушту"

#: src/language_files/pt_BR/kf6_entry.desktop:2
msgctxt "Name"
msgid "Brazil portuguese"
msgstr "Бразилияның португалша"

#: src/language_files/pt/kf6_entry.desktop:2
msgctxt "Name"
msgid "Portuguese"
msgstr "Португалша"

#: src/language_files/ro/kf6_entry.desktop:2
msgctxt "Name"
msgid "Romanian"
msgstr "Румынша"

#: src/language_files/ru/kf6_entry.desktop:2
msgctxt "Name"
msgid "Russian"
msgstr "Орысша"

#: src/language_files/se/kf6_entry.desktop:2
msgctxt "Name"
msgid "Northern Sami"
msgstr "Солтүстік саами"

#: src/language_files/si/kf6_entry.desktop:2
msgctxt "Name"
msgid "Sinhala"
msgstr "Сингалша"

#: src/language_files/sk/kf6_entry.desktop:2
msgctxt "Name"
msgid "Slovak"
msgstr "Словакша"

#: src/language_files/sl/kf6_entry.desktop:2
msgctxt "Name"
msgid "Slovenian"
msgstr "Словенше"

#: src/language_files/sq/kf6_entry.desktop:2
msgctxt "Name"
msgid "Albanian"
msgstr "Албанша"

#: src/language_files/sr@ijekavian/kf6_entry.desktop:2
msgctxt "Name"
msgid "Serbian Ijekavian"
msgstr "Лиекав сербше"

#: src/language_files/sr@ijekavianlatin/kf6_entry.desktop:2
msgctxt "Name"
msgid "Serbian Ijekavian Latin"
msgstr "Латындагы лиекав сербше"

#: src/language_files/sr/kf6_entry.desktop:2
msgctxt "Name"
msgid "Serbian"
msgstr "Сербше"

#: src/language_files/sr@latin/kf6_entry.desktop:2
msgctxt "Name"
msgid "Serbian Latin"
msgstr "Латындагы сербше"

#: src/language_files/sv/kf6_entry.desktop:2
msgctxt "Name"
msgid "Swedish"
msgstr "Шведше"

#: src/language_files/ta/kf6_entry.desktop:2
msgctxt "Name"
msgid "Tamil"
msgstr "Тамилша"

#: src/language_files/te/kf6_entry.desktop:2
msgctxt "Name"
msgid "Telugu"
msgstr "Телугу"

#: src/language_files/tg/kf6_entry.desktop:2
msgctxt "Name"
msgid "Tajik"
msgstr "Тәжікше"

#: src/language_files/th/kf6_entry.desktop:2
msgctxt "Name"
msgid "Thai"
msgstr "Тайша"

#: src/language_files/tok/kf6_entry.desktop:2
msgctxt "Name"
msgid "Toki Pona"
msgstr ""

#: src/language_files/tr/kf6_entry.desktop:2
msgctxt "Name"
msgid "Turkish"
msgstr "Түрікше"

#: src/language_files/tt/kf6_entry.desktop:2
msgctxt "Name"
msgid "Tatar"
msgstr "Татарша"

#: src/language_files/ug/kf6_entry.desktop:2
msgctxt "Name"
msgid "Uyghur"
msgstr "Ұйғырша"

#: src/language_files/uk/kf6_entry.desktop:2
msgctxt "Name"
msgid "Ukrainian"
msgstr "Украинша"

#: src/language_files/uz@cyrillic/kf6_entry.desktop:2
msgctxt "Name"
msgid "Uzbek (Cyrillic)"
msgstr "Өзбекше (Кирилл жазуы)"

#: src/language_files/uz/kf6_entry.desktop:2
msgctxt "Name"
msgid "Uzbek"
msgstr "Өзбекше"

#: src/language_files/vi/kf6_entry.desktop:2
msgctxt "Name"
msgid "Vietnamese"
msgstr "Вьетнамша"

#: src/language_files/wa/kf6_entry.desktop:2
msgctxt "Name"
msgid "Walloon"
msgstr "Валлонша"

#: src/language_files/xh/kf6_entry.desktop:2
msgctxt "Name"
msgid "Xhosa"
msgstr "Кхоса"

#: src/language_files/zh_CN/kf6_entry.desktop:2
msgctxt "Name"
msgid "Simplified Chinese"
msgstr "Жеңілтілген қытайша"

#: src/language_files/zh_HK/kf6_entry.desktop:2
msgctxt "Name"
msgid "Chinese (Hong Kong)"
msgstr "Қытайша (Сянган)"

#: src/language_files/zh_TW/kf6_entry.desktop:2
msgctxt "Name"
msgid "Traditional Chinese"
msgstr "Дәстүрлі қытайша"

#~ msgctxt "Name"
#~ msgid "KDE Test Language"
#~ msgstr "KDE тіл сынағы"

#, fuzzy
#~| msgctxt "Name"
#~| msgid "KDE SVN Build"
#~ msgctxt "Name"
#~ msgid "KDE Source Builder"
#~ msgstr "KDE SVN құрылымы"

#~ msgctxt "Name"
#~ msgid "Kontact Administration"
#~ msgstr "Kontact әкімшілік етуі"

#~ msgctxt "Name"
#~ msgid "KOffice"
#~ msgstr "KOffice"

#~ msgctxt "Name"
#~ msgid "Chinese"
#~ msgstr "Қытайша"
